@import "reset.css";
@import "./sections/jumboSection.css";
@import "./sections/introSection.css";
@import "./sections/techSection.css";

body{
    background: url("../images/backgroundDesign.svg");
    background-size: 53rem;
    background-color: #27e6f09f;
    background-attachment: fixed;
}

section{
    display: grid;
    grid-template-columns: 50% 50%;
}