
/* #introSection{
} */

/* LEFT SIDE OF PAGE */
#introSection .introLeftSide{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RIGHT SIDE OF PAGE */
#introSection .introRightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 5rem;
    background: white;
    font-size: 1.1rem;
    line-height: 2;
    font-weight: 300;
}
#introSection .introRightSide span{
    font-weight: 700;
}
#introSection .introRightSide ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}