
/* #techSection{
} */

/* LEFT SIDE OF PAGE */
#techSection .techLeftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* RIGHT SIDE OF PAGE */
#techSection .techRightSide{
    background: white;
    padding: 8rem 5rem;
    font-size: 2rem;
}
#techSection .techRightSide ul li{
    font-weight: 600;
    position: relative;
}
#techSection .techRightSide ul li svg{
    font-weight: 600;
    position: absolute;
    z-index: 0;
}
#techSection .techRightSide ul li span{
    margin-left: 1rem;
    z-index: 6;
}