#techSection{
    height: 100vh;
}

/* LEFT SIDE OF PAGE */
#techSection .techLeftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* RIGHT SIDE OF PAGE */
#techSection .techRightSide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
}
#techSection .techRightSide ul{
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}